/*******************************************************************************************************
Main page style (mobile first)
********************************************************************************************************/
.modal { width: 100% !important ; height: 100% !important ; }

body{
    background: #fff;
    padding: 0px;
    margin: 0px;
    overflow-x:hidden;
}


body{
    font-size:18px;
}

.console-date{
    width:100%;
    padding:20px;
}

.console-message{
    width:100%;
    margin:0px auto;
    margin-top:20px;
    padding:20px;
}


/***************************************************
Login page style (mobile first)
****************************************************/
.login-div{
    width:60%;
    margin:0px auto;
    margin-top:150px;
    padding:20px;
    display:block;
}

.login-div img{
    /*Make image unselectable*/
    -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:20%;
    margin-bottom:20px;
}


.login-div input{
    display: block;
    border: 1px solid #ccc;
    border-radius : 5px;
    background: #fff;
    padding:15px;
    outline:none;
    width:100%;
    margin-bottom:20px;
}
.login-div input:focus{
    border: 1px solid #777777;
}


.login-div button{
    font-weight: bold;
    background: #0d6efd  ;
    color: #fff;
    border:none;
    border-radius:5px;
    padding:15px;
    display:block;
    width: 100%;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    margin-bottom:20px;
}



.login-div button:hover{
    background:#0b5ed7   ;
    color: #fff;
    border:none;
    cursor:pointer;
}


/***********************************************************************************
Style for desktop
************************************************************************************/

/***************************************************
main page desktop
****************************************************/
@media screen and (min-width:1200px){

.modal { width: 100% !important ; height: 80% !important ;  margin: auto !important;}

.account-email{
    padding-left: 20px;
}

body{
    font-size:18px;
}

.console-date{
    width:30%;
    padding:20px;
    margin-right: auto;
}

.console-message{
    width:72%;
    margin:0px auto;
    margin-top:20px;
    padding:20px;
}

.dark-mode-body {
    background-color: #1D1D1D;
    color: #8E8E8E;
  }

  .account-email{
      font-weight: 500;
  }

  a{
    font-weight: 600;
  }


/*******************************************************************************************************
LOGIN PAGE STYLE
********************************************************************************************************/


.login-div img{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height:20%;
    margin-bottom:20px;
}


.login-div, .main-div{
    width:20%;
    margin:0px auto;
    margin-top:150px;
    padding:20px;
    display:block;
}

.login-div input{
    display: block;
    border: 1px solid #ccc;
    border-radius : 5px;
    background: #fff;
    padding:15px;
    outline:none;
    width:100%;
    margin-bottom:20px;
}
.login-div input:focus{
    border: 1px solid #777777;
}

.login-div button{
    background: #0d6efd ;
    color: #fff;
    border:none;
    border-radius:5px;
    padding:15px;
    display:block;
    width: 100%;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    margin-bottom:20px;
}

.login-div button:hover{
    background:#0b5ed7     ;
    color: #fff;
    border:none;
    cursor:pointer;
}

}
